.class-one,
.class-three,
.class-five {
    color: black;
    background-color: lightpink;
    font-family: 'Verdana', 'DejaVu Sans' sans-serif;
}

.class-three {
    font-size: 24px;
}

#number-two {
    color: blue;
    font-size: 36px;

}

#number-four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}