.click-me,
.dont-click {
    font-size: 28px;
    border-style: groove;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.click-me {
    color: white;
    background-color: black;
}

.dont-click {
    background-color: yellow;
}